.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
node_modules/
dist/
out/
env.local
**/src/generated
syntaxes/
*.tsbuildinfo
*.vsix
.idea
examples/.env.local
examples/customer-portal.api2ai
examples/openapi/customer-portal.openapi.yaml
examples/generated/tools/customer-portal-tools.ts
examples/generated/tools/customer-portal-tools.mjs
examples/customer-portal/
