# Minimal OpenAPI 3 slice for api2ai demos (GitHub REST).
# Full official bundle: https://github.com/github/rest-api-description (descriptions/api.github.com/api.github.com.json, multi‑MB).
openapi: 3.0.3
info:
    title: GitHub API minimal user slice
    version: '1.0.0'
servers:
    - url: https://api.github.com
paths:
    /user:
        get:
            operationId: get-authenticated-user
            summary: Get the authenticated user
            description: Requires a user PAT with at least read:user (classic) or equivalent fine-grained scope.
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties: true
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden (rate limit or insufficient token scope)
    /user/repos:
        get:
            operationId: list-repositories-for-the-authenticated-user
            summary: List repositories for the authenticated user
            description: |
                Lists repositories the authenticated user has **direct** access to (your own repos, collaborations, org repos the token can see).

                **Classic PAT:** use scope `repo` if you need private repositories; without it, private repos may be omitted or single-repo `GET /repos/{owner}/{repo}` can return **404** (GitHub hides existence of private repos you cannot read).

                **Fine-grained PAT:** grant **Repository permissions** (e.g. Metadata read) on each repository or via organization/team rules; missing scope often surfaces as **404** on `GET /repos/{owner}/{repo}`, not 403.

                Prefer this endpoint to discover `owner`/`repo` names before calling `GET /repos/{owner}/{repo}`.
            parameters:
                - name: type
                  in: query
                  required: false
                  description: |
                      `all` (default), `owner` (repos owned by user), or `member` (repos user is member of but does not own).
                  schema:
                      type: string
                      enum: [all, owner, member]
                      default: all
                - name: per_page
                  in: query
                  required: false
                  description: Results per page (max 100).
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 30
                - name: page
                  in: query
                  required: false
                  description: Page number of results.
                  schema:
                      type: integer
                      minimum: 1
                      default: 1
            responses:
                '200':
                    description: OK — array of repository objects
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    additionalProperties: true
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden (rate limit or insufficient token)
    /repos/{owner}/{repo}:
        get:
            operationId: get-a-repository
            summary: Get a repository
            description: |
                Returns metadata for one repository.

                **404 on private repos:** GitHub often returns **404 Not Found** (not 403) when the repo is private and the token **cannot** read it, or when `owner`/`repo` is wrong — this avoids leaking whether a private repo exists.

                If you are sure the PAT should have access: verify the token in the MCP host (`--auth-env` / `GITHUB_TOKEN`), PAT type (classic `repo` vs fine-grained repo access), exact `owner`/`repo` spelling, and try `GET /user/repos` to confirm the repo appears in the list for this token.
            parameters:
                - name: owner
                  in: path
                  required: true
                  schema:
                      type: string
                - name: repo
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties: true
                '404':
                    description: Not Found (e.g. private repo or no access)
